html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Prevents scroll bars on the root elements */
}

.dashboard {
    background-image: url('../images/background.jpg'); /* Ensure this path is correct */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* The background remains fixed during scrolling */
    min-height: 100vh; /* Minimum height to cover the full viewport height */
    width: 100%; /* Cover the full width */
    display: flex; /* Ensures flex properties apply */
    flex-direction: column; /* Stacks child elements vertically */
    align-items: stretch; /* Stretches child elements to match the width of the dashboard */
}

.main-content {
    flex-grow: 1; /* Takes up all available space */
    display: flex; /* Enables flexbox properties for this container */
    flex-direction: row; /* Aligns children horizontally */
    overflow-y: auto; /* Adds vertical scroll to this container */
}

.header, .menu, .footer-text {
    background-color: #ffffff;
    color: white;
}

.menu {
    width: 200px;
    padding: 1em;
}

.search-field {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
}

.menu .vaadin-button {
    width: 100%;
    justify-content: start;
}

.footer-text {
    opacity: 0.7;
}

.user-dashboard {
    background-image: url('../images/user-background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}
vaadin-grid::part(row), vaadin-grid::part(cell) {
  background-color: transparent !important;
}


