.song-entry {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.song-entry .cover-image {
    height: 64px;
    width: 64px;
    margin-right: 15px;
}

.song-entry .song-info {
    flex-grow: 1;
}

.song-entry .play-button {
    margin-left: auto; /* Align to the right */
}
.song-grid .vaadin-grid-cell-content {
    padding: var(--lumo-space-m);  /* Apply some padding around grid cells */
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-grid img {
    object-fit: cover; /* Ensures the image covers the area, useful if your images are not all the same aspect ratio */
}

.song-grid .vaadin-button {
    margin: 0 auto; /* Centers button within the cell if cell has display: flex */
}

/* Handling long text */
.song-grid .cell-lyrics {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px; /* Adjust as necessary */
}


.link-container {
    margin-top: 15px;
}


/* Style for all tabs */
.tab-style {
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text */
    padding: 10px 20px; /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 20px; /* Text size */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
}

/* Hover effect */
.tab-style:hover {
    background-color: #e8e8e8; /* Slightly darker grey on hover */
    cursor: pointer;
}

.song-prompt-component .heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.song-prompt-component .prompt-layout,
.song-prompt-component .version-layout,
.song-prompt-component .progress-layout {
    width: 100%;
    align-items: baseline;
    margin-bottom: 10px;
}

.song-prompt-component .create-button {
    background-color: var(--lumo-primary-color);
    color: white;
}

.song-prompt-component .checkbox {
    margin-top: 10px;
}
vaadin-grid::part(row), vaadin-grid::part(cell) {
  background-color: transparent !important;
}